{% extends "admin/layout.html" %} 
{% block content %}
<div class="block-header">
	<h2>PUSH MELDUNGEN</h2>
</div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="card">
			<div class="header">
				<h2>AKTIVIEREN</h2>
				<small></small>
			</div>
			<div class="body">
			    <p>Mit dieser Funktion k%F6nnen Push Meldungen f%FCr dieses Geraet aktiviert / deaktiviert werden. <br/>
				Aktuell werden folgende Meldungen unterstuetzt:
			    <ul>
				<li>Einsatzalarme</li>
			    </ul>
			    <blockquote class="m-b-25">
                                <p>Beim Aktivieren wird eine Geraete Berechtigung angefordert. Diese muss angenommen werden!</p>
                            </blockquote>
			    <button type="button" id="btnActivate" class="btn waves-effect">AKTIVIEREN</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script>

const applicationServerPublicKey = 'BIZLZO1GoQ_O5YLpDPZVisuR-_GVSBDeKkV6rxcnmPuB_P2OufbhQQWhYnPoXH4IpG3Mq68n9QEV3fwHfjFRJq0';
const pushButton = document.querySelector('#btnActivate');

let isSubscribed = false;
let swRegistration = null;

function updateBtn() {
  if (Notification.permission === 'denied') {
    pushButton.textContent = 'Push Messaging Blocked.';
    pushButton.disabled = true;
    return;
  }

  if (isSubscribed) {
    pushButton.textContent = 'DEAKTIVIEREN';
    pushButton.classList.addClass = 'btn-danger';
  } else {
    pushButton.textContent = 'AKTIVIEREN';
    pushButton.classList.addClass = 'btn-success';
  }

  pushButton.disabled = false;
}

function urlB64ToUint8Array(base64String) {
  const padding = '='.repeat((4 - base64String.length % 4) % 4);
  const base64 = (base64String + padding)
    .replace(/\-/g, '+')
    .replace(/_/g, '/');

  const rawData = window.atob(base64);
  const outputArray = new Uint8Array(rawData.length);

  for (let i = 0; i < rawData.length; ++i) {
    outputArray[i] = rawData.charCodeAt(i);
  }
  return outputArray;
}

function addSubscriptionOnServer(subscription) {
  var encodedKey = btoa(String.fromCharCode.apply(null, new Uint8Array(subscription.getKey('p256dh'))));
  var encodedAuth = btoa(String.fromCharCode.apply(null, new Uint8Array(subscription.getKey('auth'))));

  $.ajax({
      type: 'POST',
      url: 'https://push.scherer.me/device/subscribe',
      data: {publicKey: encodedKey, auth: encodedAuth, notificationEndPoint: subscription.endpoint},
      success: function (response) {
          console.log('Subscribed successfully! ' + JSON.stringify(response));
      },
      dataType: 'json'
  });
}

function removeSubscriptionOnServer(endpoint) {

  $.ajax({
      type: 'POST',
      url: 'https://push.scherer.me/device/unsubscribe',
      data: {notificationEndPoint: endpoint},
      success: function (response) {
          console.log('Unsubscribed successfully! ' + JSON.stringify(response));
      },
      dataType: 'json'
  });
}

function subscribeUser() {
  const applicationServerKey = urlB64ToUint8Array(applicationServerPublicKey);
  swRegistration.pushManager.subscribe({
    userVisibleOnly: true,
    applicationServerKey: applicationServerKey
  })
  .then(function(subscription) {
    console.log('User is subscribed.');

    addSubscriptionOnServer(subscription);

    isSubscribed = true;

    updateBtn();
  })
  .catch(function(err) {
    console.log('Failed to subscribe the user: ', err);
    updateBtn();
  });
}

function unsubscribeUser() {
  var endpoint = null;

  swRegistration.pushManager.getSubscription()
  .then(function(subscription) {
    if (subscription) {
      endpoint = subscription.endpoint;
      return subscription.unsubscribe();
    }
  })
  .catch(function(error) {
    console.log('Error unsubscribing', error);
  })
  .then(function() {
    removeSubscriptionOnServer(endpoint);

    console.log('User is unsubscribed.');
    isSubscribed = false;

    updateBtn();
  });
}

function initializeUI() {
  pushButton.addEventListener('click', function() {
    pushButton.disabled = true;
    if (isSubscribed) {
      unsubscribeUser();
    } else {
      subscribeUser();
    }
  });

// Set the initial subscription value
  swRegistration.pushManager.getSubscription()
  .then(function(subscription) {
    isSubscribed = !(subscription === null);

    if (isSubscribed) {
      console.log('User IS subscribed.');
    } else {
      console.log('User is NOT subscribed.');
    }

    updateBtn();
  });
}

if ('serviceWorker' in navigator && 'PushManager' in window) {
  console.log('Service Worker and Push is supported');

  navigator.serviceWorker.register('/static/js/service-push.js')
  .then(function(swReg) {
    console.log('Service Worker is registered', swReg);

    swRegistration = swReg;
    initializeUI();
  })
  .catch(function(error) {
    console.error('Service Worker Error', error);
  });
} else {
  console.warn('Push messaging is not supported');
  pushButton.textContent = 'Push Not Supported';
}
</script>
{% endblock %}
