flask==1.1.0
requests==2.24.0
flask_debugtoolbar==0.10.1
lxml==4.6.2
Flask_SQLAlchemy==2.4.0
flask_login==0.4.1
flask_oidc==1.4.0
flask_cors==3.0.8
flask_mail==0.9.1
flask-migrate==2.5.2
flask-compress==1.8.0
apscheduler==3.6.3
pyopenssl==20.0.1