{% extends "layout.html" %} 
{% block content %}
<div class="block-header">
	<h2>BERICHTE ALARMGRUPPE</h2>
</div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="card">
			<div class="header">
				<h2>PDF DOWNLOAD</h2>
				<small>PDF Appellliste herunterladen</small>
			</div>
			<div class="body">
				<a href="/pdf/appellliste/KA1" target="_blank" class="btn btn-primary waves-effect">KA 1</a>
				<a href="/pdf/appellliste/KA2" target="_blank" class="btn btn-primary waves-effect">KA 2</a>
				<a href="/pdf/appellliste/KA3" target="_blank" class="btn btn-primary waves-effect">KA 3</a>
				<a href="/pdf/appellliste/KA4" target="_blank" class="btn btn-primary waves-effect">KA 4</a>
				<a href="/pdf/appellliste/KA5" target="_blank" class="btn btn-primary waves-effect">KA 5</a>
				<a href="/pdf/appellliste/KA6" target="_blank" class="btn btn-primary waves-effect">KA 6</a>
				<a href="/pdf/appellliste/BAG" target="_blank" class="btn btn-primary waves-effect">BAG / Tel. Konf</a>
				<a href="/pdf/appellliste/Spez-Zug" target="_blank" class="btn btn-primary waves-effect">Spez. Zug</a>
				<a href="/pdf/appellliste/Spez-Gruppen" target="_blank" class="btn btn-primary waves-effect">Spez Gruppen</a>
				<a href="/pdf/appellliste/Alle" target="_blank" class="btn btn-primary waves-effect">Alle</a>
			</div>
		</div>

		<div class="card">
    <div class="header">
        <h2>MANNSCHAFTSEINTEILUNG</h2>
    </div>
    <div class="body">
        <div id="accordion">
            <div class="card accordion">
                <div class="card-header" id="headingKA">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseKA" aria-expanded="true" aria-controls="collapseKA">
                            Kleinalarme
                        </button>
                    </h5>
                </div>
                <div id="collapseKA" class="collapse show" aria-labelledby="headingKA" data-parent="#accordion">
                    <div class="card-body">
                        <ul class="nav nav-tabs">
                            {% for group in groups %}
                                {% if 'KA' in group.name %}
                                <li class="nav-item"><a href="#{{ group.name }}" class="nav-link" data-toggle="tab">{{ group.name}} <span class="badge bg-cyan">{{ group.members|length }}</span></a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for group in groups %}
                                {% if 'KA' in group.name %}
                                <div class="tab-pane fade" id="{{ group.name }}">
                                    <ul class="list-group">
                                        {% for member in group.members %}
                                           <li class="list-group-item">{{ member.grad }} {{ member.name }} {{ member.vorname }}
                                               {% if 'San' in member.alarmgroups|string %} <span class="badge bg-pink">SAN</span> {% endif %}
                                               {% if 'VA' in member.alarmgroups|string %} <span class="badge bg-orange">VA</span> {% endif %}
                                           </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                               {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card accordion">
                <div class="card-header" id="headingBAG">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseBAG" aria-expanded="true" aria-controls="collapseKA">
                            Bagatellgruppen
                        </button>
                    </h5>
                </div>
                <div id="collapseBAG" class="collapse" aria-labelledby="headingBAG" data-parent="#accordion">
                    <div class="card-body">
                        <ul class="nav nav-tabs">
                                {% for group in groups %}
                                {% if 'BAG' in group.name %}
                                <li class="nav-item"><a href="#{{ group.name }}" class="nav-link" data-toggle="tab">{{ group.name}} <span class="badge bg-cyan">{{ group.members|length }}</span></a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            <div class="tab-content">
                                {% for group in groups %}
                                {% if 'BAG' in group.name %}
                                <div class="tab-pane fade" id="{{ group.name }}">
                                    <ul class="list-group">
                                        {% for member in group.members %}
                                            <li class="list-group-item">{{ member.grad }} {{ member.name }} {{ member.vorname }}
                                                {% if 'San' in member.alarmgroups|string %} <span class="badge bg-pink">SAN</span> {% endif %}
                                                {% if 'VA' in member.alarmgroups|string %} <span class="badge bg-orange">VA</span> {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card accordion">
                    <div class="card-header" id="headingSpez">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSpez" aria-expanded="true" aria-controls="collapseKA">
                                Spezialisten
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSpez" class="collapse" aria-labelledby="headingSpez" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="nav nav-tabs">
                                {% for group in groups %}
                                    {% if ('KA' not in group.name and 'BAG' not in group.name) %}
                                    <li class="nav-item"><a href="#{{ group.name }}" class="nav-link" data-toggle="tab">{{ group.name}} <span class="badge bg-cyan">{{ group.members|length }}</span></a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <div class="tab-content">
                                {% for group in groups %}
                                    {% if ('KA' not in group.name and 'BAG' not in group.name) %}
                                    <div class="tab-pane fade" id="{{ group.name }}">
                                        <ul class="list-group">
                                            {% for member in group.members %}
                                                <li class="list-group-item">{{ member.grad }} {{ member.name }} {{ member.vorname }}
                                                    {% if 'San' in member.alarmgroups|string %} <span class="badge bg-pink">SAN</span> {% endif %}
                                                    {% if 'VA' in member.alarmgroups|string %} <span class="badge bg-orange">VA</span> {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
