{% extends "layout.html" %} 
{% block content %}
<div class="block-header">
	<h2>BERICHTE ALARMGRUPPE</h2>
</div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="card">
			<div class="header">
				<h2>PDF DOWNLOAD</h2>
				<small>PDF Appellliste herunterladen</small>
			</div>
			<div class="body">
				<a href="/pdf/appellliste/KA1" target="_blank" class="btn btn-primary waves-effect">KA 1</a>
				<a href="/pdf/appellliste/KA2" target="_blank" class="btn btn-primary waves-effect">KA 2</a>
				<a href="/pdf/appellliste/KA3" target="_blank" class="btn btn-primary waves-effect">KA 3</a>
				<a href="/pdf/appellliste/KA4" target="_blank" class="btn btn-primary waves-effect">KA 4</a>
				<a href="/pdf/appellliste/KA5" target="_blank" class="btn btn-primary waves-effect">KA 5</a>
				<a href="/pdf/appellliste/KA6" target="_blank" class="btn btn-primary waves-effect">KA 6</a>
				<a href="/pdf/appellliste/BAG" target="_blank" class="btn btn-primary waves-effect">BAG / Tel. Konf</a>
				<a href="/pdf/appellliste/Spez-Zug" target="_blank" class="btn btn-primary waves-effect">Spez. Zug</a>
				<a href="/pdf/appellliste/Spez-Gruppen" target="_blank" class="btn btn-primary waves-effect">Spez Gruppen</a>
				<a href="/pdf/appellliste/Alle" target="_blank" class="btn btn-primary waves-effect">Alle</a>
			</div>
		</div>

		<div class="card">
    <div class="header">
        <h2>MANNSCHAFTSEINTEILUNG</h2>
    </div>
    <div class="body">
        <div class="panel-group" id="accordion_19" role="tablist" aria-multiselectable="true">
            <div class="panel panel-col-teal">
                <div class="panel-heading" role="tab" id="headingOne_ka">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#collapse_ka" aria-expanded="false" aria-controls="collapse_ka" class="collapsed">Kleinalarme</a>
                    </h4>
                </div>
                <div id="collapse_ka" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_ka" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <ul class="nav nav-tabs tab-nav-right" role="tablist">
                            {% for group in groups %}
                            {% if 'KA' in group.name %}
                            <li role="presentation" class=""><a href="" data-target="#{{ group.name }}" data-toggle="tab">{{ group.name}} <span class="badge bg-cyan">{{ group.members|length }}</span></a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for group in groups %}
                            {% if 'KA' in group.name %}
                            <div role="tabpanel" class="tab-pane fade in" id="{{ group.name }}">
                                <ul class="list-group">
                                    {% for member in group.members %}
                                        <li class="list-group-item">{{ member.grad }} {{ member.name }} {{ member.vorname }}
                                            {% if 'San' in member.alarmgroups|string %} <span class="badge bg-pink">SAN</span> {% endif %}
                                            {% if 'VA' in member.alarmgroups|string %} <span class="badge bg-orange">VA</span> {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-col-teal">
                <div class="panel-heading" role="tab" id="headingOne_bag">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#collapse_bag" aria-expanded="false" aria-controls="collapse_bag" class="collapsed">Bagatellgruppen</a>
                    </h4>
                </div>
                <div id="collapse_bag" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_bag" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <ul class="nav nav-tabs tab-nav-right" role="tablist">
                                {% for group in groups %}
                                {% if 'BAG' in group.name %}
                                <li role="presentation" class=""><a href="" data-target="#{{ group.name }}" data-toggle="tab">{{ group.name}} <span class="badge bg-cyan">{{ group.members|length }}</span></a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            <div class="tab-content">
                                {% for group in groups %}
                                {% if 'BAG' in group.name %}
                                <div role="tabpanel" class="tab-pane fade in" id="{{ group.name }}">
                                    <ul class="list-group">
                                        {% for member in group.members %}
                                            <li class="list-group-item">{{ member.grad }} {{ member.name }} {{ member.vorname }}
                                                {% if 'San' in member.alarmgroups|string %} <span class="badge bg-pink">SAN</span> {% endif %}
                                                {% if 'VA' in member.alarmgroups|string %} <span class="badge bg-orange">VA</span> {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-col-teal">
                <div class="panel-heading" role="tab" id="headingOne_spez">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#collapse_spez" aria-expanded="false" aria-controls="collapse_spez" class="collapsed">Speziallisten</a>
                    </h4>
                </div>
                <div id="collapse_spez" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_spez" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                                <ul class="nav nav-tabs tab-nav-right" role="tablist">
                                    {% for group in groups %}
                                    {% if ('KA' not in group.name and 'BAG' not in group.name) %}
                                    <li role="presentation" class=""><a href="" data-target="#{{ group.name }}" data-toggle="tab">{{ group.name}} <span class="badge bg-cyan">{{ group.members|length }}</span></a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                                <div class="tab-content">
                                    {% for group in groups %}
                                    {% if ('KA' not in group.name and 'BAG' not in group.name) %}
                                    <div role="tabpanel" class="tab-pane fade in" id="{{ group.name }}">
                                        <ul class="list-group">
                                            {% for member in group.members %}
                                                <li class="list-group-item">{{ member.grad }} {{ member.name }} {{ member.vorname }}
                                                    {% if 'San' in member.alarmgroups|string %} <span class="badge bg-pink">SAN</span> {% endif %}
                                                    {% if 'VA' in member.alarmgroups|string %} <span class="badge bg-orange">VA</span> {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
