{% extends "admin/layout.html" %} 
{% block content %}
<div class="block-header">
	<h2>ALARMGRUPPEN PER PERSON</h2>
</div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="card">
			<div class="header">
				<h2>EXCEL DOWNLOAD</h2>
				<small>Falls der Download nicht autmoatisch startet, klicke auf den folgenden Link</small>
			</div>
			<div class="body">
				<a href="/download/excel/file/alarm_group" class="btn btn-block btn-lg btn-primary waves-effect">DOWNLOAD</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
