{% extends "admin/layout.html" %} 
{% block content %}
<div class="block-header">
	<h2>BERICHTE ALARMGRUPPE</h2>
</div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="card">
			<div class="header">
				<h2>PDF DOWNLOAD</h2>
				<small>PDF Appellliste herunterladen</small>
			</div>
			<div class="body">
				<a href="/pdf/alarmgruppe/ka1" class="btn btn-primary waves-effect">KA 1</a>
				<a href="/pdf/alarmgruppe/ka2" class="btn btn-primary waves-effect">KA 2</a>
				<a href="/pdf/alarmgruppe/ka3" class="btn btn-primary waves-effect">KA 3</a>
				<a href="/pdf/alarmgruppe/ka4" class="btn btn-primary waves-effect">KA 4</a>
				<a href="/pdf/alarmgruppe/ka5" class="btn btn-primary waves-effect">KA 5</a>
				<a href="/pdf/alarmgruppe/ka6" class="btn btn-primary waves-effect">KA 6</a>
				<a href="/pdf/alarmgruppe/bag" class="btn btn-primary waves-effect">BAG / Tel. Konf</a>
				<a href="/pdf/alarmgruppe/spezZug" class="btn btn-primary waves-effect">Spez. Zug</a>
				<a href="/pdf/alarmgruppe/spezGrp" class="btn btn-primary waves-effect">Spez Gruppen</a>
				<a href="/pdf/alarmgruppe/all" class="btn btn-primary waves-effect">Alle</a>
			</div>
		</div>

		<div class="card">
    <div class="header">
        <h2>MANNSCHAFTSLISTEN</h2>
    </div>
    <div class="body">
        <ul class="nav nav-tabs tab-nav-right" role="tablist">
            <li role="presentation" class="active"><a href="" data-target="#ka1" data-toggle="tab">KA 1</a></li>
            <li role="presentation" class=""><a href="" data-target="#ka2" data-toggle="tab">KA 2</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="ka1">
                <ul class="list-group">
                    {% for adf in adfs.stab %}
                        <li class="list-group-item">{{ adf.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="html_1">
                <pre class="brush: html">
&lt;div class="card"&gt;
    &lt;div class="header"&gt;
        &lt;h2&gt;
            Basic Card Title &lt;small&gt;Description text here...&lt;/small&gt;
        &lt;/h2&gt;
        &lt;ul class="header-dropdown m-r--5"&gt;
            &lt;li&gt;
                &lt;a href="javascript:void(0);"&gt;
                    &lt;i class="material-icons"&gt;mic&lt;/i&gt;
                &lt;/a&gt;
            &lt;/li&gt;
            &lt;li class="dropdown"&gt;
                &lt;a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"&gt;
                    &lt;i class="material-icons"&gt;more_vert&lt;/i&gt;
                &lt;/a&gt;
                &lt;ul class="dropdown-menu pull-right"&gt;
                    &lt;li&gt;&lt;a href="javascript:void(0);" class="waves-effect waves-block"&gt;Action&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="javascript:void(0);" class="waves-effect waves-block"&gt;Another action&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="javascript:void(0);" class="waves-effect waves-block"&gt;Something else here&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class="body"&gt;
        Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
    &lt;/div&gt;
&lt;/div&gt;
</pre>
            </div>
        </div>
    </div>
</div>
{% endblock %}
