{% extends "admin/layout.html" %} 
{% block content %}
<div class="block-header">
	<h2>BERICHTE ALARMGRUPPE</h2>
</div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="card">
			<div class="header">
				<h2>PDF DOWNLOAD</h2>
				<small>PDF Appellliste herunterladen</small>
			</div>
			<div class="body">
				<a href="/pdf/alarmgruppe/ka1" class="btn btn-primary waves-effect">KA 1</a>
				<a href="/pdf/alarmgruppe/ka2" class="btn btn-primary waves-effect">KA 2</a>
				<a href="/pdf/alarmgruppe/ka3" class="btn btn-primary waves-effect">KA 3</a>
				<a href="/pdf/alarmgruppe/ka4" class="btn btn-primary waves-effect">KA 4</a>
				<a href="/pdf/alarmgruppe/ka5" class="btn btn-primary waves-effect">KA 5</a>
				<a href="/pdf/alarmgruppe/ka6" class="btn btn-primary waves-effect">KA 6</a>
				<a href="/pdf/alarmgruppe/bag" class="btn btn-primary waves-effect">BAG / Tel. Konf</a>
				<a href="/pdf/alarmgruppe/spezZug" class="btn btn-primary waves-effect">Spez. Zug</a>
				<a href="/pdf/alarmgruppe/spezGrp" class="btn btn-primary waves-effect">Spez Gruppen</a>
				<a href="/pdf/alarmgruppe/all" class="btn btn-primary waves-effect">Alle</a>
			</div>
		</div>

		<div class="card">
    <div class="header">
        <h2>MANNSCHAFTSEINTEILUNG</h2>
    </div>
    <div class="body">
        <div class="panel-group" id="accordion_19" role="tablist" aria-multiselectable="true">
            <div class="panel panel-col-teal">
                <div class="panel-heading" role="tab" id="headingOne_ka">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#collapse_ka" aria-expanded="false" aria-controls="collapse_ka" class="collapsed">Kleinalarme</a>
                    </h4>
                </div>
                <div id="collapse_ka" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_ka" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <ul class="nav nav-tabs tab-nav-right" role="tablist">
                            <li role="presentation" class="active"><a href="" data-target="#ka1" data-toggle="tab">KA 1 <span class="badge bg-cyan">{{ adfs.ka1|length }}</span></a></li>
                            <li role="presentation" class=""><a href="" data-target="#ka2" data-toggle="tab">KA 2 <span class="badge bg-cyan">{{ adfs.ka2|length }}</span></a></li>
                            <li role="presentation" class=""><a href="" data-target="#ka3" data-toggle="tab">KA 3 <span class="badge bg-cyan">{{ adfs.ka3|length }}</span></a></li>
                            <li role="presentation" class=""><a href="" data-target="#ka4" data-toggle="tab">KA 4 <span class="badge bg-cyan">{{ adfs.ka4|length }}</span></a></li>
                            <li role="presentation" class=""><a href="" data-target="#ka5" data-toggle="tab">KA 5 <span class="badge bg-cyan">{{ adfs.ka5|length }}</span></a></li>
                            <li role="presentation" class=""><a href="" data-target="#ka6" data-toggle="tab">KA 6 <span class="badge bg-cyan">{{ adfs.ka6|length }}</span></a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="ka1">
                                <ul class="list-group">
                                    {% for adf in adfs.ka1 %}
                                        <li class="list-group-item">{{ adf.grad }} {{ adf.name }} {{ adf.vorname }}
                                            {% if adf in adfs.spezZug.san %} <span class="badge bg-pink">SAN</span> {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="ka2">
                                <ul class="list-group">
                                    {% for adf in adfs.ka2 %}
                                        <li class="list-group-item">{{ adf.grad }} {{ adf.name }} {{ adf.vorname }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="ka3">
                                <ul class="list-group">
                                    {% for adf in adfs.ka3 %}
                                        <li class="list-group-item">{{ adf.grad }} {{ adf.name }} {{ adf.vorname }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="ka4">
                                <ul class="list-group">
                                    {% for adf in adfs.ka4 %}
                                        <li class="list-group-item">{{ adf.grad }} {{ adf.name }} {{ adf.vorname }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="ka5">
                                <ul class="list-group">
                                    {% for adf in adfs.ka5 %}
                                        <li class="list-group-item">{{ adf.grad }} {{ adf.name }} {{ adf.vorname }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="ka6">
                                <ul class="list-group">
                                    {% for adf in adfs.ka6 %}
                                        <li class="list-group-item">{{ adf.grad }} {{ adf.name }} {{ adf.vorname }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-col-teal">
                <div class="panel-heading" role="tab" id="headingOne_bag">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#collapse_bag" aria-expanded="false" aria-controls="collapse_bag" class="collapsed">Bagatellgruppen</a>
                    </h4>
                </div>
                <div id="collapse_bag" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_bag" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <ul class="nav nav-tabs tab-nav-right" role="tablist">
                            <li role="presentation" class="active"><a href="" data-target="#bag1" data-toggle="tab">BAG 1 <span class="badge bg-cyan">{{ adfs.bag.bag1|length }}</span></a></li>
                            <li role="presentation" class=""><a href="" data-target="#bag2" data-toggle="tab">BAG 2 <span class="badge bg-cyan">{{ adfs.bag.bag2|length }}</span></a></li>
                            <li role="presentation" class=""><a href="" data-target="#bag3" data-toggle="tab">BAG 3 <span class="badge bg-cyan">{{ adfs.bag.bag3|length }}</span></a></li>
                            <li role="presentation" class=""><a href="" data-target="#konf" data-toggle="tab">Tel. Konf <span class="badge bg-cyan">{{ adfs.bag.konf|length }}</span></a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="bag1">
                                <ul class="list-group">
                                    {% for adf in adfs.bag.bag1 %}
                                        <li class="list-group-item">{{ adf.grad }} {{ adf.name }} {{ adf.vorname }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="bag2">
                                <ul class="list-group">
                                    {% for adf in adfs.bag.bag2 %}
                                        <li class="list-group-item">{{ adf.grad }} {{ adf.name }} {{ adf.vorname }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="bag3">
                                <ul class="list-group">
                                    {% for adf in adfs.bag.bag3 %}
                                        <li class="list-group-item">{{ adf.grad }} {{ adf.name }} {{ adf.vorname }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="konf">
                                <ul class="list-group">
                                    {% for adf in adfs.bag.konf %}
                                        <li class="list-group-item">{{ adf.grad }} {{ adf.name }} {{ adf.vorname }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
