{% extends "layout.html" %} 
{% block content %}
<div class="block-header">
	<h2>ALLE PEERS</h2>
</div>
<div class="row clearfix">
	<div class="col-xs-12 col-sm-3">
		<div class="card profile-card">
			<div class="profile-header">&nbsp;</div>

			<div class="profile-body">
				<div class="image-area">
					<img src="/static/images/peers/person.png" alt="Andy Scherer" />
				</div>
				<div class="content-area">
					<h3>Andy Scherer</h3>
					<p>Kommando</p>
				</div>
			</div>
			<div class="profile-footer">
				<ul>
					<li>
						<span>Telefon</span>
						<span><a href="tel:+41787330038">078 733 00 38</a></span>
					</li>
					<li>
						<span>E-Mail</span>
						<span><a href="mailto:andy.scherer@outlook.com">andy.scherer@outlook.com</a></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-3">
		<div class="card profile-card">
			<div class="profile-header">&nbsp;</div>

			<div class="profile-body">
				<div class="image-area">
					<img src="/static/images/peers/person.png" alt="Beat Schmid" />
				</div>
				<div class="content-area">
					<h3>Beat Schmid</h3>
					<p>Zug 1</p>
				</div>
			</div>
			<div class="profile-footer">
				<ul>
					<li>
						<span>Telefon</span>
						<span><a href="tel:+41796488543">079 648 85 43</a></span>
					</li>
					<li>
						<span>E-Mail</span>
						<span><a href="mailto:beat.schmid@ilef.ch">beat.schmid@ilef.ch</a></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-3">
		<div class="card profile-card">
			<div class="profile-header">&nbsp;</div>

			<div class="profile-body">
				<div class="image-area">
					<img src="/static/images/peers/person.png" alt="Fredy Steiner" />
				</div>
				<div class="content-area">
					<h3>Fredy Steiner</h3>
					<p>Zug 1</p>
				</div>
			</div>
			<div class="profile-footer">
				<ul>
					<li>
						<span>Telefon</span>
						<span><a href="tel:+41794456591">079 445 65 91</a></span>
					</li>
					<li>
						<span>E-Mail</span>
						<span><a href="mailto:fredy.steiner@intelligentpeople.ch">fredy.steiner@intelligentpeople.ch</a></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-3">
		<div class="card profile-card">
			<div class="profile-header">&nbsp;</div>

			<div class="profile-body">
				<div class="image-area">
					<img src="/static/images/peers/person.png" alt="Michael Raschle" />
				</div>
				<div class="content-area">
					<h3>Michael Raschle</h3>
					<p>Zug 2</p>
				</div>
			</div>
			<div class="profile-footer">
				<ul>
					<li>
						<span>Telefon</span>
						<span><a href="tel:+41796434688">079 643 46 88</a></span>
					</li>
					<li>
						<span>E-Mail</span>
						<span><a href="mailto:mnraschle@hispeed.ch">mnraschle@hispeed.ch</a></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-3">
		<div class="card profile-card">
			<div class="profile-header">&nbsp;</div>

			<div class="profile-body">
				<div class="image-area">
					<img src="/static/images/peers/person.png" alt="Roger Brüngger" />
				</div>
				<div class="content-area">
					<h3>Roger Brüngger</h3>
					<p>Kommando</p>
				</div>
			</div>
			<div class="profile-footer">
				<ul>
					<li>
						<span>Telefon</span>
						<span><a href="tel:+41796600149">079 660 01 49</a></span>
					</li>
					<li>
						<span>E-Mail</span>
						<span><a href="mailto:roger.bruengger@ilef.ch">roger.bruengger@ilef.ch</a></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}