<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
<form id="login" action="/login" method="POST">
  <div class="box">
  <div id="header">
  <h1 id="logintoregister">Login</h1>
  </div> 
   <form action="" method="post">
    <div class="group">      
      <input class="inputMaterial" type="text" name="username" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Username</label>
    </div>
	    <div class="group">      
      <input class="inputMaterial" type="password" name="password" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Password</label>
    </div>
    <button id="buttonlogintoregister" type="submit">Login</button>
       <div id="loginspinner" class="preloader-wrapper small active">
        <div class="spinner-layer spinner-green-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
  </form>
  <div id="footer-box"><p class="footer-text">{{ error }}</p></div>
</div>
</form>
{% endif %}
{% endblock %}
