<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Feuerwehr Illnau-Effretikon / Lindau</title>
    <!-- Favicon-->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="144x144"  href="/static/images/icons/android-icon-144x144.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/images/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Font Awesome Kit -->
    <script src="https://kit.fontawesome.com/91db221ff3.js" crossorigin="anonymous"></script>
    
    <!-- Bootstrap Core Css -->
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">

    <!-- Waves Effect Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.6/waves.min.css">
    <!--<link href="/static/plugins/node-waves/waves.css" rel="stylesheet" />-->

    <!-- Animation Css -->
    <link rel="stylesheet" href="/static/plugins/animate-css/animate.css">

    <!-- Morris Chart Css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

    <!-- Bootstrap Tagsinput Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">

    <!-- Bootstrap Material Datetime Picker Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/css/bootstrap-material-datetimepicker.min.css">

    <!-- Bootstrap Material Select Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css">

    <!-- Custom Css -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- AdminBSB Themes -->
    <link rel="stylesheet" href="/static/css/themes/theme-red.css">

    {% block CSS %}
    {% endblock %}

</head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Lade Daten...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid" {% if user[2] == "test" %} style="background:chartreuse" {% endif %}>
            <div class="navbar-header">
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" {% if user[2] == "test" %} style="color:black" {% endif %} href="/">
                    {% if user[2] != "prod" %} <strong>{{ user[2]|upper }}</strong> {% endif %} Feuerwehr Illnau-Effretikon / Lindau
                </a>
            </div>
        
            <div class="navbar-custom-right-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="javascript:void(0);" id="notifications_button" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="fa-lg fas fa-bell"></i>
                            <span id="notifications_count" class="label-count" style="display: none;">0</span>
                        </a>
                        <ul class="dropdown-menu animated fadeIn">
                            <li class="header">BENACHRICHTIGUNGEN</li>
                            <li class="body">
                                <ul id="notifications_messages" class="menu">
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-light-blue">
                                                <i class="material-icons">info</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>Keine Benachrichtigungen vorhanden</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> Jetzt
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            <li class="footer" style="display: none;">
                                <a href="javascript:void(0);">View All Notifications</a>
                            </li>
                        </ul>
                    </li>
                    <!-- Lodur Sync -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i id="topRightLodurSyncIcon" class="fa-lg fas fa-sync"></i>
                            <span class="label-count"></span>
                        </a>
                        <ul class="dropdown-menu animated fadeIn">
                            <li class="header">LODUR</li>
                            <li class="body">
                                <ul class="menu">
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-light-green">
                                                <i id="topRightLodurSyncIcon" class="material-icons">sync</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>Letzte Synchronisation</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> <span id="topRightLodurSyncTime">{% if user|length > 2 %}{{ user[3][0].value|datetimestrformat("%d.%m.%Y %H:%M:%S") }}{% endif %}</span>
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" onclick="reloadLodurData();" class="button">Jetzt aktualisieren</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="/static/images/user.png" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user[1].vorname }} {{ user[1].name }}</div>
                    <div class="email">{{ user[0].email }}</div>
                    <div class="btn-group dropleft user-helper-dropdown">
                        <i class="material-icons" id="menu_settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">keyboard_arrow_down</i>
                        <div class="dropdown-menu" aria-labelledby="menu_settings">
                            <a href="https://oauth.scherer.me/oxauth/restv1/end_session?post_logout_redirect_uri=https://app.feuerwehr-effi.ch/auth/logout" class="dropdown-item"><i class="material-icons">input</i>Abmelden</a>
                            <a href="/core/settings" class="dropdown-item"><i class="material-icons">settings</i>Einstellungen</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active">
                        <a href="/">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">alarm</i>
                            <span>Einsatz / Alarmierung</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="/alarm/appellblatt" class="menupoint">Appellblätter</a>
                            </li>
                            <li>
                                <a href="/alarm/alarmgruppe" class="menupoint">Alarmgruppen</a>
                            </li>
                            <li>
                                <a href="/alarm/statusUpdate" class="menupoint">GVZ Status Meldungen</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">face</i>
                            <span>Atemschutz</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="/atemschutz/" class="menupoint">Übersicht</a>
                            </li>
                            <li>
                                <a href="/atemschutz/auswertung" class="menupoint">Auswertung</a>
                            </li>
                            <li>
                                <a href="/atemschutz/settings" class="menupoint">Einstellungen</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">local_hospital</i>
                            <span>Peer</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="/peer/peers" class="menupoint">Liste der Peers</a>
                            </li>
                            <li>
                                <a href="https://cloud.feuerwehr-effi.ch/index.php/f/2914" traget="_blank" rel="noreferrer" class="menupoint">Konzept</a>
                            </li>
                            <li>
                                <a href="https://cloud.feuerwehr-effi.ch/index.php/f/2925" target="_blank" rel="noreferrer" class="menupoint">Informationen für aktuelle Peers</a>
                            </li>
                        </ul>
                    </li>
                    <!--
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">email</i>
                            <span>Kommunikation</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="/page/communication/sendMail">E-Mail senden</a>
                            </li>
                        </ul>
                    </li>
		            <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">settings</i>
                            <span>Einstellungen</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="/page/settings/push">Pushmeldungen</a>
                            </li>
                        </ul>
                    </li>
                -->
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">business_center</i>
                            <span>Tools</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="https://cloud.feuerwehr-effi.ch" target="_blank" rel="noreferrer">File Cloud (beta)</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="install-app bg-red animated"><p>Feuewehr Effi App auf dem Homescreen speichern.</p>
                    <p><button id="installBtn" type="button" class="btn bg-deep-orange waves-effect">INSTALLIEREN</button></p>
                </div>
                <div class="copyright">
                    <p><a href="https://github.com/fw-effi/fw-tool" target="_blank" rel="noreferrer">Idee oder Fehler gefunden?</a></p>
                    &copy; 2019 <a href="javascript:void(0);">FW Backend (AdminBSB Template)</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 0.5.2 / {{ user[2]|upper }}
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->

    </section>

    <section class="content">
        <div class="container-fluid">
		{% block content %}{% endblock %}            
        </div>
    </section>

    <!-- PWA Service Worker Js -->
    <script src="/static/js/pwa.js"></script>

    <!-- Jquery Core Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

    <!-- Bootstrap Core Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js" integrity="sha512-iceXjjbmB2rwoX93Ka6HAHP+B76IY1z0o3h+N1PeDtRSsyeetU3/0QKJqGyPJcX63zysNehggFwMC/bi7dvMig==" crossorigin="anonymous"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js" integrity="sha512-cJMgI2OtiquRH4L9u+WQW+mz828vmdp9ljOcm/vKTQ7+ydQUktrPVewlykMgozPP+NUBbHdeifE6iJ6UVjNw5Q==" crossorigin="anonymous"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.6/waves.min.js" integrity="sha512-MzXgHd+o6pUd/tm8ZgPkxya3QUCiHVMQolnY3IZqhsrOWQaBfax600esAw3XbBucYB15hZLOF0sKMHsTPdjLFg==" crossorigin="anonymous"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countto/1.2.0/jquery.countTo.min.js" integrity="sha512-RXuJVZbGztKGYMNgmWU6oOHbUwYu+NnzovhT4lyW1kfmEfRK6CD1xL8U+0xACFqSkC3cxMugaaNEP8wWmvl4Jw==" crossorigin="anonymous"></script>

    <!-- Morris Plugin Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js" integrity="sha512-tBzZQxySO5q5lqwLWfu8Q+o4VkTcRGOeQGVQ0ueJga4A1RKuzmAu5HXDOXLEjpbKyV7ow9ympVoa6wZLEzRzDg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js" integrity="sha512-6Cwk0kyyPu8pyO9DdwyN+jcGzvZQbUzQNLI0PadCY3ikWFXW9Jkat+yrnloE63dzAKmJ1WNeryPd1yszfj7kqQ==" crossorigin="anonymous"></script>

    <!-- Moment Plugin Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>

    <!-- ChartJs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js" integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA==" crossorigin="anonymous"></script>

    <!-- Bootstrap Notify Plugin Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js" integrity="sha512-efUTj3HdSPwWJ9gjfGR71X9cvsrthIA78/Fvd/IN+fttQVy7XWkOAXb295j8B3cmm/kFKVxjiNYzKw9IQJHIuQ==" crossorigin="anonymous"></script>


    <!-- Flot Charts Plugin Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js" integrity="sha512-eO1AKNIv7KSFl5n81oHCKnYLMi8UV4wWD1TcLYKNTssoECDuiGhoRsQkdiZkl8VUjoms2SeJY7zTSw5noGSqbQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.resize.min.js" integrity="sha512-9zhTD6cZrwSp3aSDtC2dM9RPiRylLkHphz2DcBPElrql8QK/WVg3iHl2yC/imytI9BpKFzvzHzYHDM/8K9GPeA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.pie.min.js" integrity="sha512-jMP1biHEi+eAK+dGbOLAmabdBzVTUjHpryY1vsILFGYatR5i55+ZuXZXBOdbz/KzvTstnsu6+TJCTZ79/PMjbA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.categories.min.js" integrity="sha512-x4QGSZkQ57pNuICMFFevIhDer5NVB5eJCRmENlCdJukMs8xWFH8OHfzWQVSkl9VQ4+4upPPTkHSAewR6KNMjGA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.time.min.js" integrity="sha512-lcRowrkiQvFli9HkuJ2Yr58iEwAtzhFNJ1Galsko4SJDhcZfUub8UxGlMQIsMvARiTqx2pm7g6COxJozihOixA==" crossorigin="anonymous"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js" integrity="sha512-3PRVLmoBYuBDbCEojg5qdmd9UhkPiyoczSFYjnLhFb2KAFsWWEMlAPt0olX1Nv7zGhDfhGEVkXsu51a55nlYmw==" crossorigin="anonymous"></script>

    <!-- Custom Js -->
    <script src="/static/js/admin.js"></script>
    <script src="/static/js/pages/index.js"></script>

    <!-- Helper Js -->
    <script src="/static/js/helpers.js"></script>

    {% block javascript %}
    {% endblock %}
</body>

</html>
