{% extends "layout.html" %} 
{% block content %}
<!-- JQuery DataTable Css -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.bootstrap.min.css"/>
<style>
.icon-right {
    float:right; 
    margin-right:10px; 
    margin-top:-10px;
}
</style>
<div class="block-header">
	<h2>ATEMSCHUTZ AUSWERTUNG</h2>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
			<div class="header">
				<h2>AUFTEILUNG IN JAHRE</h2>
				<small>letzte 4 Jahre</small>
			</div>
			<div class="body">
                <script>
                    var one_year = { year: '{{ statistics[0].one_year_name }}', training: 0, total: 0 }
                    var two_year = { year: '{{ statistics[0].two_year_name }}', training: 0, total: 0 }
                    var three_year = { year: '{{ statistics[0].three_year_name }}', training: 0, total: 0 }
                    var four_year = { year: '{{ statistics[0].four_year_name }}', training: 0, total: 0 }

                    var line_perYear = new Array(four_year,three_year, two_year,one_year)

                {% for stat in statistics %}
                    one_year.training += {{stat.one_year_training}}
                    one_year.total += {{stat.one_year}}

                    two_year.training += {{stat.two_year_training}}
                    two_year.total += {{stat.two_year}}

                    three_year.training += {{stat.three_year_training}}
                    three_year.total += {{stat.two_year}}

                    four_year.training += {{stat.four_year_training}}
                    four_year.total += {{stat.four_year}}
                
                {% endfor %}
                console.log(one_year);
                </script>
                <div id="line_peryear" class="graph"></div>
            </div>
        </div>
    </div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!--
        <div class="card">
			<div class="header">
				<h2>EINZELNE JAHRE</h2>
				<small>Auswertung der einzelnen Jahre</small>
			</div>
			<div class="body">
                <div class="panel-group" id="accordion_19" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-col-teal">
                        <div class="panel-heading" role="tab" id="headingOne_ka">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" href="#collapse_oneyear" aria-expanded="false" aria-controls="collapse_oneyear" class="collapsed">{{ statistics[0].one_year_name }}</a>
                            </h4>
                        </div>
                        <div id="collapse_oneyear" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_ka" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <table id="tblAuswertungOneYear" class="table row-border table-striped table-hover table-all dataTable">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th class="rotate"><div><span>{{ statistics[0].four_year_name }}</span></div></th>
                                            <th class="rotate"><div>{{ statistics[0].three_year_name }}</div></th>
                                            <th class="rotate"><div>{{ statistics[0].two_year_name }}</div></th>
                                            <th class="rotate"><div>{{ statistics[0].one_year_name }}</div></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    -->
		<div class="card">
			<div class="header">
				<h2>GESAMTÜBERSICHT</h2>
				<small>Letzte 4 Jahre</small>
			</div>
			<div class="body">
                <!--<div class="row"> # #7 - Ansicht ist nicht korrekt, weil das Eintrittsdatum nicht berücksichtigt wird
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box-3 bg-green hover-expand-effect">
                            {% set ns = namespace(done=0,didnt=0) %}

                            {% for stat in statistics %}
                                {% if stat.one_year_training > 480 and stat.two_year_training > 480 and stat.three_year_training > 480 and stat.four_year_training > 480 %}
                                    {% set ns.done = ns.done + 1 %}
                                {% else %}
                                    {% set ns.didnt = ns.didnt + 1 %}
                                {% endif %}
                            {% endfor %}

                            {% set total = ns.done + ns.didnt %}
                            <div class="icon">
                                <i class="material-icons">done_all</i>
                            </div>
                            <div class="content">
                                <div class="text">IN ALLEN 4 JAHREN ERREICHT</div>
                                <div class="number">{{ ns.done }} ({{ ((100/total) * ns.done)|round(1) }}%)</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box-3 bg-deep-orange hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">cached</i>
                            </div>
                            <div class="content">
                                <div class="text">IN MIND. EINEM JAHR ZUWENIG</div>
                                <div class="number">{{ ns.didnt }} ({{ ((100/total) * ns.didnt)|round(1) }}%)</div>
                            </div>
                        </div>
                    </div>
                </div>-->
				<div class="table-responsive">
                    <table id="tblAuswertung" class="table row-border table-striped table-hover table-all dataTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>{{ statistics[0].four_year_name }}</th>
                                <th>{{ statistics[0].three_year_name }}</th>
                                <th>{{ statistics[0].two_year_name }}</th>
								<th>{{ statistics[0].one_year_name }}</th>
								<th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in statistics %}
                            <tr>
                                <td>{{ entry.vorname }} {{ entry.name }}<br />
                                Eintrittsjahr: {{ entry.eintritt.split('-')[0] }}</td>
								<td>
                                    {% if entry.eintritt.split('-')[0] <= entry.four_year_name %}
                                        Ausbildung: {{ entry.four_year_training }} <br/>
                                        Total: {{ entry.four_year }}
                                        {% if entry.four_year < 480 %}
                                        <span class="icon-right"><img src="https://image.flaticon.com/icons/svg/1672/1672451.svg" width="16px" height="16px"></span>
                                        {% endif %}
                                    {% endif %}
                                </td>
								<td>
                                    {% if entry.eintritt.split('-')[0] <= entry.three_year_name %}
                                        Ausbildung: {{ entry.three_year_training }} <br/>
                                        Total: {{ entry.three_year }}
                                        {% if entry.three_year < 480 %}
                                        <span class="icon-right"><img src="https://image.flaticon.com/icons/svg/1672/1672451.svg" width="16px" height="16px"></span>
                                        {% endif %}
                                    {% endif %}
                                </td>
								<td>
                                    {% if entry.eintritt.split('-')[0] <= entry.two_year_name %}
                                        Ausbildung: {{ entry.two_year_training }} <br/>
                                        Total: {{ entry.two_year }}
                                        {% if entry.two_year < 480 %}
                                        <span class="icon-right"><img src="https://image.flaticon.com/icons/svg/1672/1672451.svg" width="16px" height="16px"></span>
                                        {% endif %}
                                    {% endif %}
                                </td>
								<td>
                                    {% if entry.eintritt.split('-')[0] <= entry.one_year_name %}
                                        Ausbildung: {{ entry.one_year_training }} <br/>
                                        Total: {{ entry.one_year }}
                                        {% if entry.one_year < 480 %}
                                        <span class="icon-right"><img src="https://image.flaticon.com/icons/svg/1672/1672451.svg" width="16px" height="16px"></span></a>
                                        {% endif %}
                                    {% endif %}
                                </td>
								<td>
                                    <a href="/pdf/atemschutz/personalauswertung/{{ entry.id }}" target="_blank"><i class="material-icons">search</i></a>
                                </td>
							</tr>
							
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
			</div>
		</div>
<!--
		<div class="card">
            <div class="header">
                <h2>ANSICHTER ÜBER ALLES</h2>
            </div>
            <div class="body">
            </div>
        </div>
    </div>-->
</div> 
{% endblock %}
{% block javascript %}

<!-- Datatable-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>
 
<script>

var curday = function(sp){
today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //As January is 0.
    var yyyy = today.getFullYear();

    if(dd<10) dd='0'+dd;
    if(mm<10) mm='0'+mm;
    return (dd+sp+mm+sp+yyyy);
};

$.fn.dataTable.moment( 'DD.MM.YYYY' ); //Define Dateformat for DataTable Plugin (used automaticly)
var table = $('.table-all').DataTable({
	dom: "Bti",
	paging: false,
	ordering: false,
    responsive: false,
    buttons: {
        dom: {
            button: {
                className: ''
            }
        },
        buttons: [
            { text: '<i class="material-icons">picture_as_pdf</i>', className: 'btn btn-primary waves-effect', action: function() { window.open('/pdf/atemschutz/jahrauswertung','_href')} },
            
        ]
    },
    language: {
        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json"
    }
});

/* MORRIS Graphs */
Morris.Area({
    element: 'line_peryear',
    data: line_perYear,
    xkey:'year',
    ykeys:['training','total'],
    labels:['Ausbildung','Total'],
    pointSize: 2,
    hideHover: 'auto',
    lineColors: ['rgb(233, 30, 99)', 'rgb(0, 188, 212)']
});
</script>
{% endblock %}